__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.sql
*.pot
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.sql
*.pot
*.po
*.mo
*.env
*.venv
*.pid
*.pid.lock
*.seed
*.session
*.svg
*.swp
*.swo
*.DS_Store
*.directory
*.AppleDouble
*.AppleDB
*.bin
*.fuse_hidden*
*.Trash-*
*.backup*
*.~lock.*
*.~*
todo.md
node_modules/